.admin-bar {
	padding-top: 30px;
}

header.header {
	margin-bottom: 10px;
}

.navbar .brand {
	position: relative;
	width: 150px;
}

	.navbar .brand span {
		display: block;
		position: absolute;
		width: 150px;
		height: 85px;
		top: -22px;
		background: url(../images/pchc-logo.png) 50% 50% no-repeat;
		background-size: contain;
		white-space: nowrap;
		overflow: hidden;
		text-indent: 150%;
	}

/* Post Archives
------------------------- */
.pchc-resident-photo,
.pchc-resident-photo-thumb {
	margin: -20px 10px 20px 20px;
	max-width: 200px;
}

.pchc-resident-photo-thumb {
	max-width: 100px;
}

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
	padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
	overflow: visible; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
	margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	-webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

/* Carousel
------------------------- */

.carousel {
	margin-bottom: 60px;
}

.carousel .container {
	position: static;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
}

.carousel .item {
	height: 500px;
	background-size: cover;
}
.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

.carousel-caption {
	background-color: transparent;
	position: absolute;
	bottom: 0;
	max-width: 550px;
	padding: 20px;
	margin-left: 50px;
}
.carousel-caption h1,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
	margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

	.container.navbar-wrapper {
		margin-bottom: 0;
		width: auto;
	}
	.navbar-inner {
		border-radius: 0;
		margin: -20px 0;
	}

	.carousel .item {
		height: 500px;
	}
	.carousel img {
		width: auto;
		height: 500px;
	}

	.carousel-caption .lead,
	.carousel-caption .btn {
		font-size: 16px;
	}

	.featurette {
		height: auto;
		padding: 0;
	}
	.featurette-image.pull-left,
	.featurette-image.pull-right {
		display: block;
		float: none;
		max-width: 40%;
		margin: 0 auto 20px;
	}
}


@media (max-width: 767px) {

	.navbar-inner {
		margin: -20px;
	}

	.carousel {
		margin-left: -20px;
		margin-right: -20px;
	}
	.carousel .container {

	}
	.carousel .item {
		height: 300px;
	}
	.carousel img {
		height: 300px;
	}
	.carousel-caption {
		width: 65%;
		padding: 20px;
	}
	.carousel-caption h1 {
		font-size: 30px;
	}
	.carousel-caption .lead,
	.carousel-caption .btn {
		font-size: 14px;
	}

	.marketing .span4 + .span4 {
		margin-top: 40px;
	}

	.featurette-heading {
		font-size: 30px;
	}
	.featurette .lead {
		font-size: 18px;
		line-height: 1.5;
	}

}

@media (min-width: 1200px) {
	.navbar .brand {
		width: 179px;
	}
		.navbar .brand span {
			top: -30px;
			width: 179px;
			height: 100px;
		}
}

@media (min-width: 768px) and (max-width: 979px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

@media (max-width: 979px) {
	.nav-collapse.collapse.in {
		padding-top: 30px;
	}
}

@media (min-width: 980px) {}